.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.prof-con{
    flex: 1;
}
.cart-container{
    margin-left: 200px;
}
.cart-container-2{
    margin-left: 1000px;
}
.cart-details{
    margin-left: 30px;
    margin-top: 100px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}
.main-con{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.shopping-btn{
    height: 40px;
    width: 200px;
    background-color: rgb(43, 119, 226);
    color: white;
    font-size: 12px;
    border-radius: 3px;
    border: none;
}
.cart-items-con{
    display: flex;
    flex-direction: row;
}
.cart-items-list{
    margin-bottom: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.cart-items-list-2{
    margin-top: 100px;
    margin-left: 400px;
}
.cart-item-img{
    height: 200px;
    width: 180px;
    margin-top: 10px;
}

.cart-item-container{
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
}

.cart-main-container{
    margin-left: 30px;
}
.cart-img-1{
    height: 130px;
    width: 130px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.cart-heading{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}
.text-sm{
    font-size: 13px;
}
.cart-item-name{
    display: flex;
}
.cart-item-name-para{
    margin-right: 420px;
    font-size: 20px;
}
.cart-item-button{
    margin-left: 10px;
    border: none;
    font-size: 12px;
    background-color: white;
}
.sub-total{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-total{
    margin-top: 150px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-total-3{
    margin-left: 10px;
    margin-top: 150px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-total-2{
    margin-top: 150px;
    font-size: 20px;
    margin-left: 880px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkbox-container{
    display: flex;
}
.check-box{
    margin-right: 10px;
}
.checkbox-text{
    margin-top: 10px;
    font-size: 12px
}
.cart-sub-item{
    margin-left: 30px;
}
.cart-item-sub-con{
    margin-top: 20px;
    margin-left: 700px;
    display: flex;
}
.side-con{
    width: 280px;
    height: 250px;
    margin-left: 180px;
    margin-top: 80px;
    box-shadow: 2px 2px 5px 2px #bcb5b5;
}
.side-para{
    font-size: 20px;
    font-weight: bold;
}
.price-text{
    margin-left: 1180px;
    font-size: 12px;
}
.cart-item-bot{
    display: flex;
    flex-direction: row;
}
.sel{
    height: 30px;
    width: 80px;
}
.total-bot{
    margin-left: 460px;
}
.buy-btn{
    height: 30px;
    width: 230px;
    border-radius: 20px;
    border: none;
    background-color: rgb(249, 205, 7)
}
.cart-signin-btn{
    background-color: rgb(227, 181, 11);
    border-radius: 20px;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}