.order-details-container{
    width: 100vw;
    height: 40vh;
}
.order-details{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}