.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.profile-con{
    flex: 1;
}
.prof-con{
    margin-left: 300px;
    display: flex;
}
.user-img{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    margin-left: -20px;
}