.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.prof-con{
    flex: 1;
}

.search-stars-img{
    height: 30px;
    width: 50px;
}

.search-heading-1{
    margin-left: 50px;
}

.search-headphone-img-1{
    height: 300px;
    width: 150px;
}

.search-headphone-img-3{
    height: 250px;
    width: 200px;
}
.search-deals-img{
    height: 250px;
    width: 250px;
}


.search-headphone-box{
    height: 380px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.search-count-para{
    margin-top: 40px;
}
.search-symbol-btn{
    height: 20px;
    margin-top: 40px;
}

.search-shop-btn{
    width: 80px;
}

.search-headphone-box-4{
    height: 380px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.search-headphone-box-2{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.search-headphone-box-3{
    height: 500px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}
.prod-add-cart-btn{
    height: 30px;
    width: 100px;
    font-size: 13px;
    border-radius: 30px;
}
.search-headphone-img-2{
    height: 250px;
    width: 200px;
}
.search-prod-para{
    color: black;
    text-decoration: none;
}
.search-prod-para-sm{
    color: black;
    text-decoration: none;
    font-size: 10px;
}
a {
    text-decoration: none !important;
    color: black !important;
}

.search-headphones{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-headphones-1{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 120px;
}
.search-headphones-2{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 200px;
    color: black;
}

.search-headphones-section-2{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px
}
.search-headphones-section-3{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}

.search-fav-para{
    margin-left: 100px;
}
.search-section-3{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.search-section-category{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.search-section-4{
    height: 400px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-between;
}

.search-para-2{
    margin-left: 200px;
}   

.search-shop-section{
    display: flex;
    flex-direction: row;
}

.search-prod-container{
    margin: 0;
}

.search-results{
    margin-left: 50px;
}

.search-para-1{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 30px;
}