
.prod-item-container{
    height: 100vh;
    width: 80vw;
    margin-left: 225px;
    margin-top: -40px;
}

.item-main{
    height: 80vh;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.prod-img{
    height: 450px;
    width: 350px;
}

.para{
    display: flex;
}

.para-space-1{
    margin-right: 120px;
}
.para-space-2{
    margin-right: 115px;
}
.para-space-3{
    margin-right: 140px;
}
.para-space-4{
    margin-right: 80px;
}
.para-space-5{
    margin-right: 85px;
}

.para-highlight{
    font-weight: bold;
}
.money{
    margin-bottom: 10px;
}

.item-data{
    margin-top: -10px;
    margin-left: 30px;
}

.count{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.prod-side-box{
    box-shadow: 0px 0px 1px 1px #e8c8c8;
    border-radius: 10px;
    height: 320px;
    width: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}
.prod-btn{
    width: 30px;
    height: 30px;
}
.prod-pay-btn{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
}

